<a href="/admin/article/add">Add Articel</a>
<div class="box-body">
  <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
    <thead>
      <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Tiêu đề</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Ảnh</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Ngày tạo</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="3" aria-label="CSS grade: activate to sort column ascending">Action</th></tr>
    </thead>
    <tbody>     
               
    <?php
    	foreach ($data as $value) {
    ?>
		<tr role="row" class="odd">
	        <td class="sorting_1"><?php echo $value['Article']['id'];?></td>
	        <td><?php echo $value['Article']['title'];?></td>
	        <td><img src="/<?php echo $value['Article']['image'] == '' ? 'uploads/images/no-img.jpg' : $value['Article']['image'];?>" class="avata-img"></td>
	        <td><?php echo $value['Article']['created_at'];?></td>
	        <td><a href="/admin/article/detail/<?php echo $value['Article']['id'];?>">Xem</a></td>
	        <td><a href="/admin/article/edit/<?php echo $value['Article']['id'];?>">Sửa</a></td>
	        <td><a href="/admin/article/delete/<?php echo $value['Article']['id'];?>">Xóa</a></td>
	    </tr>
   	<?php
    	}
    ?>    
   
    </tbody>
    <tfoot>
      <tr><th rowspan="1" colspan="1">ID</th><th rowspan="1" colspan="1">Tiêu đề</th><th rowspan="1" colspan="1">Ảnh</th><th rowspan="1" colspan="1">Ngày tạo</th><th rowspan="1" colspan="3">Action</th></tr>
    </tfoot>
  </table></div></div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div></div></div>
</div>