
<div class="box-body">
 <table class="table-detail" width="100%";>
 
      <tr>
     <td>ID</td>
     <td><?php echo $articles['Article']['id'];?></td>
   </tr>
   <tr>
     <td>Tiêu đề</td>
     <td><?php echo $articles['Article']['title'];?></td>
   </tr>
   <tr>
     <td>Mô tả</td>
     <td><?php echo $articles['Article']['description'];?></td>
   </tr>
   <tr>
     <td>Ảnh</td>
     <td><img src="/<?php echo $articles['Article']['image'] == '' ? 'uploads/images/no-img.jpg' : $articles['Article']['image'];?>" class="avata-img"></td>
   </tr>
   <tr>
     <td>Nội dung</td>
     <td><?php echo $articles['Article']['detail'];?></td>
   </tr>
   <tr>
     <td>Ngày tạo</td>
     <td><?php echo $articles['Article']['created_at'];?></td>
   </tr>
   <tr>
     <td>Ngày cập nhật</td>
     <td><?php echo $articles['Article']['updated_at'];?></td>
   </tr>

   
 </table>
</div>