<div id="body">
	<h2 class="title-detail"><?php echo $articles['Article']['title'];?></h2>
	<h3><?php echo $articles['Article']['description'];?></h3>
	
	<span style="background: url(/<?php echo $articles['Article']['image']=='' ? 'uploads/images/no-img.jpg': $articles['Article']['image'] ?>);width:80%;height:30vw;display: inline-block;background-position: center center;background-repeat: no-repeat;background-size: cover;margin:0 auto;display:block;"></span>
	<p><?php echo $articles['Article']['detail'];?></p>
	<h2>Bai cung chuyen muc</h2>
	<ol class="ul-art">
	<?php
		foreach($article_related as $key => $val):
	?>
		<li><a href = "/article/detail/<?php echo $val['Article']['id'];?>"><?php echo $val['Article']['title'];?></a></li>
	<?php
		endforeach;
	?>
	</ol>
</div>