.error-msg{
	color: red;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}
.avata-img{
	width: 100px;
	height: 100px;
}
.table-detail th{
	text-align: center;
}
.table-detail td{
	color: gray;
}
.table-detail td:first-child{
	width: 100px;
	font-weight: bold;
	color: gray;
	text-transform: capitalize;
}
.table-detail td{
	border: 1px solid rgb(226, 220, 220);
	padding: 20px;
}
.loadmore{
	width: 50%;
	height: 50px;
	background: blue;
	text-align: center;
	border-radius:10px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	color: white;
	display: block;
	margin: 0 auto;
}
.loadmore:hover{
	background: green;
	cursor: pointer;
}
.load-gif{
	width: 30px;
	margin: 0 auto;
	display: block;
}
