<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Báo lá cải =))</title>
	<link rel="stylesheet" type="text/css" href="/front-end/css/style.css">
	<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	
	
</head>
<body>
		<?php header('Content-Type: text/html;charset=UTF-8');  ?>
	<!-- Header -->
		<?php echo $this->element('Default_front/header');?>
	<!-- Body -->
		<?php echo $this->fetch('content');?>
	<!-- Footer -->
		<?php echo $this->element('Default_front/footer');?>
</body>
	<?php echo $this->Html->script('/assets/js/common');?>
	<?php echo $this->Html->script('/assets/js/jquery.tmpl.js');?>
</html>