<a href="/admin/categories/add">Add Categories</a>
<table class="table-detail" width="100%";>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Create</th>
		<th>Update</th>
		<th  colspan="2">Action</th>
	</tr>
	<?php
		foreach ($data as $value) {
	?>
	<tr>
		<td><?php echo $value['Categories']['id'];?></td>
		<td><?php echo $value['Categories']['name'];?></td>
		<td><?php echo $value['Categories']['created_at'];?></td>
		<td><?php echo $value['Categories']['updated_at'];?></td>
		<td><a href="#">Sửa</a></td>
		<td><a href="/admin/categories/delete/<?php echo $value['Categories']['id'];?>">Xóa</a></td>
	</tr>
	<?php
		}
	?>
	
</table>