<div id="header">
		<h1><a href="/" id="sitetitle">Báo lá cải </a></h1>
<?php if(!empty($categores)):?>
		<ul>
<?php 	foreach($categores as $key => $value):?>
			<li class="current1">
				<a href="/category/<?php echo $value['Categories']['id']?>" class="up-ch"><?php echo $value['Categories']['name']?></a>
			</li>
<?php 	endforeach;?>			
		</ul>
<?php endif;?>
	</div>